:root{
    --primary : #5e3b5e;
}


.btn-purple{
border: 1px solid var(--primary);
color: var(--primary);

}
/* hero section */
.main{
    background-color: #f5fcff;
}
.color{
    background-color: #5e3bee;
}
.color:hover{
    background-color: #5e3bee;
}
.hero{
    color: #5e3bee;
}
/* experties */
.heading{
    padding: 30px;
}
.gallary{
    background-color: #f5fcff !important;
    outline: 20px solid white;
    display: flex !important;
    flex-direction: column !important;
    gap: 20px;
}
.head{
    padding: 30px;
}
.hed{
    text-align: center;
    padding: 20px;
}
.card{
    height: 50px;
    gap: 10%;
}