:root{
    --primary : #5e3b5e;
}


.btn-purple{
border: 1px solid var(--primary);
color: var(--primary);

}
/* hero section */
.main{
    background-color: #f5fcff;
}
.color{
    background-color: #5e3bee;
}
.color:hover{
    background-color: #5e3bee;
}
.hero{
    color: #5e3bee;
}